<!-- User favorites -->
{% extends 'base.html' %}

<head>
    {% block title %}My favorites{% endblock %}

    {% block head %}
    <link rel="stylesheet" href="/static/css/homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
</head>

{% block body %}
<body>
<p>Your favorites</p>
<div id="container" class="grid">

        {% for favorite in favorites %}
        <form action="/remove-favorite">
            
            <div class="card">
                <div class="rating">
                    {% for i in range(1, 6) %}
                    {% if average_ratings[favorite.unique_restaurant_id] >= i %}
                        <span class="fa fa-star checked"></span>
                    {% else %}
                        <span class="fa fa-star"></span>
                    {% endif %}
                  {% endfor %} 
                  <a class="new-links" href="/all_ratings/{{ favorite.unique_restaurant_id }}">Reviews</a><br>
            </div>
                       
                        <img src="{{ favorite.restaurant.rest_photo}}" alt="Restaurant immage" width="100" height="100"><br>
                        {{ favorite.restaurant.name }}<br>
                        {{ favorite.restaurant.address }}<br>
                        {{ favorite.restaurant.phone_number }}<br>
                        <input type="hidden" name="unique_restaurant_id" value="{{ favorite.restaurant.unique_restaurant_id }}">
                        <a class="new-links" href="/remove-favorite/{{ favorite.unique_restaurant_id }}">Remove favorite</a><br>
                        <a class="new-links" href="/leave_a_rating/{{ favorite.unique_restaurant_id }}">Leave a rating</a><br>
                        
                        <a class="new-links" href="/go-to-restaurant">Go to restaurant</a><br>
            </div>
        </form>
       
        {% endfor %}
    
</div>

{% endblock %}
