<!-- User favorites -->
{% extends 'base.html' %}

<head>
    {% block title %}My favorites{% endblock %}

    {% block head %}
    <link rel="stylesheet" href="/static/css/homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
</head>

{% block body %}

<h1 id="favorites-your-favorites">Your Favorites</h1>
<div id="container" class="grid">

        {% for favorite in favorites %}
        <form action="/remove-favorite">
            
            <div class="card">
                <div class="favorites-rating">
                    {% for i in range(1, 6) %}
                        {% if average_ratings[favorite.unique_restaurant_id] >= i %}
                        <span class="fa fa-star checked"></span>
                    {% else %}
                        <span class="fa fa-star"></span>
                    {% endif %}
                  {% endfor %} 
                  <!-- <a class="new-links" href="/all_ratings/{{ favorite.unique_restaurant_id }}"> Read Reviews</a> -->
                  <a href="/all_ratings/{{ favorite.unique_restaurant_id }}" type="submit" class="btn btn-primary"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    Reviews
                </a><br><br>
            </div>
                     <div class="favorites-rest">
                        <img src="{{ favorite.restaurant.rest_photo}}" alt="Restaurant immage" width="100" height="100"><br>
                        <b>{{ favorite.restaurant.name }}</b><br>
                        {{ favorite.restaurant.address }}<br>
                        {{ favorite.restaurant.phone_number }}<br>
                        <input type="hidden" name="unique_restaurant_id" value="{{ favorite.restaurant.unique_restaurant_id }}"><br>
                        <!-- <a class="new-links" href="/remove-favorite/{{ favorite.unique_restaurant_id }}">Remove favorite</a><br> -->
                        <a href="/remove-favorite/{{ favorite.unique_restaurant_id }}" type="submit" class="btn btn-outline-danger btn-sm" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Remove Favorite</a><br>
                        <!-- <a class="new-links" href="/leave_a_rating/{{ favorite.unique_restaurant_id }}">Leave a rating</a><br> -->
                        <a href="/leave_a_rating/{{ favorite.unique_restaurant_id }}" type="submit" class="btn btn-outline-danger btn-sm" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Leave A Rating</a>   
                        <!-- <a class="new-links" href="/go-to-restaurant">Go to restaurant</a><br> -->
                     </div>  


            </div>
        </form>
       
        {% endfor %}
    
</div>

{% endblock %}
