<!-- User favorites -->

{% extends 'base.html' %}

<head>
    {% block title %}My favorites{% endblock %}

    {% block head %}
    <link rel="stylesheet" href="/static/css/homepage.css">
    {% endblock %}
</head>

{% block body %}
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">My Halal Finder</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/homepage">Home</a>
            <a class="nav-link" href="/foodfinder">Find Me Halal Food</a>
            <!-- <a class="nav-link" href="/create_login">Create a Login</a> -->
            <a class="nav-link" href="/loginpage">Login</a>
            <a class="nav-link" href="/all_favorites">My favorites</a>
            <!-- to add more tabs on navbar just use below as skeleton -->
            <!-- <a class="nav-link disabled">Disabled</a> -->
            </div>
        </div>
        </div>
    </nav>
<p>Your favorites</p>
<div id="container" class="grid">

        {% for favorite in favorites %}
        <form action="/remove-favorite">
            
            <div class="card">
                        <img src="{{ favorite.restaurant.rest_photo}}" alt="Restaurant immage" width="100" height="100"><br>
                        {{ average_ratings[favorite.unique_restaurant_id] }} out of 5
                        <a class="new-links" href="/all_ratings/{{ favorite.unique_restaurant_id }}">View all ratings</a><br>
                        {{ favorite.restaurant.name }}<br>
                        {{ favorite.restaurant.address }}<br>
                        {{ favorite.restaurant.phone_number }}<br>
                        <input type="hidden" name="unique_restaurant_id" value="{{ favorite.restaurant.unique_restaurant_id }}">
                        <a class="new-links" href="/remove-favorite/{{ favorite.unique_restaurant_id }}">Remove favorite</a><br>
                        <a class="new-links" href="/leave_a_rating/{{ favorite.unique_restaurant_id }}">Leave a rating</a><br>
                        
                        <a class="new-links" href="/go-to-restaurant">Go to restaurant</a><br>
            </div>
        </form>
       
        {% endfor %}
    
</div>

{% endblock %}
