{% extends 'base.html' %}
{% block title %}Homepage-My Halal Finder{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/homepage.css">
{% endblock %}

{% block body %}
<body>
    <!-- <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">My Halal Finder</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/homepage">Home</a>
          <a class="nav-link" href="/foodfinder">Find Me Halal Food</a>
          <!-- <a class="nav-link" href="/create_login">Create a Login</a> -->
          <!-- <a class="nav-link" href="/loginpage">Login</a>
          <a class="nav-link" href="/all_favorites">My favorites</a> -->
          <!-- to add more tabs on navbar just use below as skeleton -->
          <!-- <a class="nav-link disabled">Disabled</a> -->
        <!-- </div>
      </div>
    </div>
  </nav> -->
  
    <a id="login-submit" href="/loginpage">Login</a>
 
  <div class="header-middle">
    <h1>Welcome to My Halal Finder</h1>
  </div>
  

  <div class="container">
    <div class="vertical-center">
      <!-- <button href="/foodfinder">Find Me Halal Food</button> -->
      <a id="find-food-button" href="/foodfinder">Find Me Halal Food</a>

    </div>
  </div>

</body>

{% endblock %}


