<!-- Form for user preference on halal restaurants -->

{% extends 'base.html' %}

{% block title %}Search for Halal Food{% endblock %}

{% block body %}
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">My Halal Finder</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/homepage">Home</a>
            <a class="nav-link" href="/foodfinder">Find Me Halal Food</a>
            <a class="nav-link" href="/create_login">Create a Login</a>
            <a class="nav-link" href="/loginpage">Login</a>
            <!-- to add more tabs on navbar just use below as skeleton -->
            <!-- <a class="nav-link disabled">Disabled</a> -->
            </div>
        </div>
        </div>
    </nav>
    
    <!-- Form for user preference  -->
    <div class="container">
        <h1>What are you eating?</h1><br>
        <h1>Search for halal restaurants near you!</h1><br>

        <form class="row g-3" method="GET" action="/foodfinder/search">
            <div class="col-12">
                <label for="inputCuisine" class="form-label">Cuisine:</label>
                <input type="text" required="true" name="cuisine" class="form-control" id="inputCuisine" placeholder="Afghan, Hot Pot, Tacos, etc.">
            </div>
            <div class="col-md-6">
                <label for="inputLocation" class="form-label">Location:</label>
                <input type="text" required="true" name="location" class="form-control" id="inputLocation" placeholder="San Francisco, NYC, 336 O'Farrell St, San Francisco, CA 94102">
            </div>
            <div class="col-md-6"><br>
                Distance: <br>
                <input type="radio" required="true" name="radius" value="5" id="fifty-miles">
                <label for="50 miles">5 miles</label>
                 
                <input type="radio" required="true" name="radius" value="10" id="ten-miles">
                <label for="10 miles">10 miles</label>
              
                <input type="radio" required="true" name="radius" value="15" id="fifteen-miles">
                <label for="15 miles">15 miles</label>
                
                <input type="radio" name="radius" value="25" id="twenty-five-miles">
                <label for="25 miles">25 miles</label>
               
            </div>    
            
             <div class="col-12">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</body>
    
{% endblock %}