{% extends 'base.html' %}

<head>
    {% block title %}Leave a rating{% endblock %}

    {% block head %}
    <link rel="stylesheet" href="/static/css/homepage.css">
    {% endblock %}
</head>

{% block body %}


    <!-- Form for restaurant rating  -->
    <div class="container">
        
            <h1><span style="background-color:white">Leave A Review!</span></h1><br>
        <h1><span style="background-color:white">Help your fellow halal eaters. Yay or Nay?</span></h1><br>
            <div class="review-h1">
                <div class="review-form">
            <form class="rating-form" method="POST" action="/add_a_rating">
           
                <select name="score" id="restaurant-score">
                    <option value="1">1- Not recommend</option>
                    <option value="2">2- Needs improvement</option>
                    <option value="3">3- Ok</option>
                    <option value="4">4- Good</option>
                    <option value="5">5- Wow, Amazing!</option>
                </select>
                <label for= "restaurant-score">Select your rating.</label><br><br>
                <label for="restaurant-review">Leave a Comment!</label><br>
                <textarea name="comment" id="comment" placeholder="Food was great and service was spectacular- such a vibe! Highly recommend the mocktails! :)" rows="5" cols="60"></textarea>
            
                <input type="hidden" name="unique_restaurant_id" value="{{ unique_restaurant_id }}">

             <div class="col-12">   
                <button type="submit" class="btn btn-danger">Post Review</button><br>
            </div>
        </form>
        </div>
            </div>
            

        
       
    </div>

    
{% endblock %}