<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="../static/images/halal-finder-background.jpg">
</body>
</html>
<!-- 
/* for start rating system  */
/* body {
    background: #FDFDFD;
      font-family: "Segoe WP","Segoe UI", Helvetica, Arial, sans-serif;
      text-align:center;
  }
  h1, h2 {
      color: #888;
      margin:0;
      font-weight:normal;
  }
  h1{ padding-top: 1.5em; padding-bottom: 2em; } 
  h2 {
      clear:both;
      color: #aaa;
      padding: 2em 0 0.3em
  }
  em {
      display: block;
      margin: .5em auto 2em;
      color: #bbb;
  }

  p, p a { 
      color: #aaa;
      text-decoration: none;
  }
  p a:hover,
  p a:focus {
      text-decoration: underline;
  }
  p + p { color: #bbb; margin-top: 2em;}
  .detail {position: absolute; text-align: right; right: 5px; bottom: 5px; width: 50%;}
  
  a[href*="intent"] {
      display:inline-block;
      margin-top: 0.4em;
  } */ -->