{% extends 'base.html' %}

<head>
    {% block title %}View all ratings{% endblock %}

    {% block head %}
    <link rel="stylesheet" href="/static/css/homepage.css">
    {% endblock %}
</head>

{% block body %}
<body>

<h1>All Ratings for {{ restaurant.name }}</h1>
<div class="ratings-list">
    <ol>
        <!-- input creates boxes around information, how to remove -->
        {% for rating in all_ratings %}
        <div class="rating-box">
            {{ rating.user.display_name }} <br>
            Rating: {{ rating.score }} out of 5<br>
            {{ rating.comment }}
        </div>
    
        {% endfor %}
    </ol>
</div>
</body>
{% endblock %}
