{% extends 'base.html' %}

<head>
    {% block title %}View all ratings{% endblock %}

    {% block head %}
    <link rel="stylesheet" href="/static/css/homepage.css">
    {% endblock %}
</head>

{% block body %}
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">My Halal Finder</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/homepage">Home</a>
            <a class="nav-link" href="/foodfinder">Find Me Halal Food</a>
            <!-- <a class="nav-link" href="/create_login">Create a Login</a> -->
            <a class="nav-link" href="/loginpage">Login</a>
            <a class="nav-link" href="/all_favorites">My favorites</a>
            <!-- to add more tabs on navbar just use below as skeleton -->
            <!-- <a class="nav-link disabled">Disabled</a> -->
            </div>
        </div>
        </div>
    </nav>

<h1>All Ratings for {{ restaurant.name }}</h1>
<div class="ratings-list">
    <ol>
        <!-- input creates boxes around information, how to remove -->
        {% for rating in all_ratings %}
        <div class="rating-box">
            {{ rating.user.display_name }} <br>
            Rating: {{ rating.score }} out of 5<br>
            {{ rating.comment }}
        </div>
    
        {% endfor %}
    </ol>
</div>
</body>
{% endblock %}
